<header>
    <h1>INICIO</h1>
</header>

<main class="container-home">
    <section>
        <h3>Proyecto Final</h3>
        <h4>Curso de Programación Backend II: Diseño y Arquitectura Backend</h4>
    </section>
</main>